<nav data-th-fragment="sidebar" class="sidebar sidebar-offcanvas" id="sidebar">
	<ul class="nav">
		<li class="nav-item">
			<a class="nav-link" data-th-href="@{dashboard}">
				<i class="menu-icon mdi mdi-television"></i>
				<span class="menu-title">Dashboard</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-th-href="@{account}">
				<i class="menu-icon fa fa-address-book-o"></i>
				<span class="menu-title">My Account</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-th-href="@{wallet}">
				<i class="menu-icon fa fa-vcard-o"></i>
				<span class="menu-title">My Wallet</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-th-href="@{transaction}">
				<i class="menu-icon fa fa-exchange"></i>
				<span class="menu-title">Transaction</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-th-href="@{print}">
				<i class="menu-icon fa fa-print"></i>
				<span class="menu-title">Prints</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-th-href="@{customer-list}">
				<i class="menu-icon fa fa-print"></i>
				<span class="menu-title">Prints</span>
			</a>
		</li>
	</ul>
</nav>